.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid $grey200;
  }

  &:nth-child(even) {
    background-color: $white;
  }
}

@media (max-width: 860px) {
  .grid-row {
    flex-direction: column;
  }
}