.grid-header {
  padding-right: 15px;
  border: 1px solid $white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $grey200;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media (max-width: 860px) {
  .grid-header__row {
    height: 100%;
    flex-direction: column;
  }
}