.grid-header {
  padding-right: 15px;
  border: 1px solid $grey200;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: $white;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}