.page-size-select-wrapper {
  margin: 1rem;
  color: $text-primary;
}
.page-size-select {
  display: inline-block;
  height: 30px;
  margin: 0.5rem 1rem;
  background: none;
  border: 1px solid $grey200;
}

.page-size-select-label {
  margin-right: 1rem;
}

@media (max-width: 505px) {
  .page-size-select-wrapper {
    margin: 0.5rem 0;
  }
}
